include /usr/share/nano/html.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/default.nanorc

include ~/.nanofiles/xresources.nanorc
include ~/.nanofiles/csharp.nanorc
include ~/.nanofiles/arduino.nanorc
include ~/.nanofiles/i3.nanorc
include ~/.nanofiles/lua.nanorc
include ~/.nanofiles/c.nanorc
