// __  __
// \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
//  \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
//  /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
// /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/

// Colors
#define bg #000000
#define fg #C6C6C6

#define c0 #000000
#define c1 #cc0000
#define c2 #4e9a06
#define c3 #c4a000
#define c4 #3465a4
#define c5 #75507b
#define c6 #06989a
#define c7 #d3d7cf

#define c8 #555753
#define c9 #ef2929
#define c10 #8ae234
#define c11 #fce94f
#define c12 #729fcf
#define c13 #ad7fa8
#define c14 #34e2e2
#define c15 #eeeeec

*background: bg
*foreground: fg

*color0: c0
*color1: c1
*color2: c2
*color3: c3
*color4: c4
*color5: c5
*color6: c6
*color7: c7

*color8: c8
*color9: c9
*color10: c10
*color11: c11
*color12: c12
*color13: c13
*color14: c14
*color15: c15

// URxvt
URxvt.font: xft:Terminus (TTF):style=Bold:size=15, xft:monospace:size=13, xft:FontAwesome:size=13
URxvt.scrollBar: 0
URxvt.externalBorder: 0
URxvt.internalBorder: 0
URxvt.transparent: true
URxvt.shading: 30
URxvt.iso14755: false
//URxvt.iso14755_52: false

URxvt.perl-ext-common: default,matcher

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.mather.button: 1 //Middle click
URxvt.matcher.rend.0: Uline Bold fg6

// Rofi config
rofi.font: DejaVu Sans 32
rofi.lines: 3
rofi.padding: 200
rofi.hide-scrollbar: true
rofi.fake-transparency: true
rofi.fullscreen: true
rofi.bw: 0
rofi.separator-style: solid
rofi.disable-history: true
rofi.sort: true

//State:			bg			fg			bgalt		hlbg		hlgf
rofi.color-window:	#AA000000,	fg,	fg,	fg,	bg
rofi.color-normal:	#00000000,	fg,	#00000000,	fg,	bg

